<div class="dashboard">
    <h3>Add New Incident</h3>
    <form id="add-form" method="POST" action="/add-post">
        <div class="form-row">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required autocomplete="off">
        </div>
        <div class="form-row">
            <label for="category">Category:</label>
            <select id="category" name="category" required>
                <option value="accident">Accident</option>
                <option value="fighting">Fighting</option>
                <option value="rioting">Rioting</option>
            </select>
        </div>
        <div class="form-row">
            <label for="description">Description:</label>
            <textarea rows="6" id="description" name="description" required autocomplete="off" placeholder="Summarize incident details..."></textarea>
        </div>
        <div class="form-row">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
