<div class="dashboard">
    <h3>Edit Incident</h3>
    <form id="edit-form" method="POST" action="/edit-post/<%= post._id %>">
        <div class="form-row">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="<%= post.title %>" required autocomplete="off">
        </div>
        <div class="form-row">
            <label for="category">Category:</label>
            <select id="category" name="category" required>
                <option value="accident" <% if (post.category === 'accident') { %> selected <% } %> >Accident</option>
                <option value="fighting" <% if (post.category === 'fighting') { %> selected <% } %> >Fighting</option>
                <option value="rioting" <% if (post.category === 'rioting') { %> selected <% } %> >Rioting</option>
            </select>
        </div>
        <div class="form-row">
            <label for="description">Description:</label>
            <textarea rows="6" id="description" name="description" required autocomplete="off"><%= post.description %></textarea>
        </div>
        <div class="form-row">
            <input type="submit" value="Update">
        </div>
    </form>
</div>
