<div class="sidebar">
    <p>
        <span> Welcome </span>
        <span class="user"> <%= user.username %> </span>
    </p>
    <ul>
        <li><a href="/dashboard"> Dashboard </a></li>
        <li><a href="/all-posts"> All Incident </a></li>
        <li><a href="/add-post"> New Incident </a></li>
        <li><a href="/subscribers"> Email Subscribers </a></li>
        <li><a href="/allUsers"> All Users </a></li>
        <li><a href="/logout"> Logout </a></li>
    </ul>
</div>
