<header class="header">
    <nav class="nav__container">
        <h3 class="nav__logo">
            <a href="/">Citizen Reporting</a>
        </h3>
        <ul class="__ul">
            <li>
                <a href="/dashboard"><%= user.username %></a>
            </li>
        </ul>
    </nav>
</header>
