<header class="header">
    <nav class="nav__container">
        <h3 class="nav__logo">
            <a href="/">Citizen Reporting</a>
        </h3>
        <ul class="__ul">
            <li>
                <a href="/login" class="__login">Login</a>
            </li>
            <li>
                <a href="/register" class="__register btn btn-sm">Register</a>
            </li>
        </ul>
    </nav>
</header>
