<div class="search-container">
    <h2>Search Results</h2>
    <section class="search-result">
        <ul>
            <% if (search.length > 0) { %>
                <% search.forEach(data => { %>
                    <li>
                        <a href="/post/<%= data._id %>">
                            <span> <%= data.title %> </span>
                        </a>
                    </li>
                <% }) %>
            <% } else { %>
                <li>No Result Found</li>
            <% } %>
        </ul>
    </section>
</div>
