<div class="subscribe-container">
    <% if (newEmail) { %>
        <h2>Thank you for subscribing to our email alert!!!</h2>
        <p>You will get notified as soon as we post any latest incident on our site.</p>

        <p>Click <a href="/">here</a> to go back to homepage</p>
    <% } else { %>
        <h3>You are not allowed to view this page!!!</h3>
    <% } %>
</div>
