@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
    --black-01: #000000;
    --black-02: #1c1c1c;
    --white-01: #ffffff;
    --white-02: #f0f0f0;
    --gray: #7e7e7e;
    --gray-02: #EFF1F4;
    --blue: #2121de;
    --admin: #3498db;
    --bg-color: #f9f9ff;
    --bg-gray: #eceff1;
    --font-body: 'Poppins', sans-serif;
    --font-size-base: 16px;
    --font-size-md: clamp(20px, 0.61vw + 18px, 26px);
    --font-size-lg: clamp(25px, 1vw + 21px, 34px);
    --font-size-xl: clamp(39px, 2.38vw + 30px, 60px);
    --line-4: 4px;
    --line-8: 8px;
    --line-16: 16px;
    --line-20: 20px;
    --shadow: 0 5px 10px 2px rgba(232, 232, 233, 0.15);
    --facebook: #1877f2;
    --twitter: #1da1f2;
    --instagram: #c13584;
    --linkedin: #0077b5;
    --github: #333333;
    --whatsapp: #075e54;
    --youtube: #ff0000;
    --discord: #5865f2;
    --pinterest: #e60023;
}

body {
    font-family: var(--font-body);
    background-color: var(--bg-color);
    color: var(--black-02);
    margin: 0;
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-lg);
    margin-bottom: 0;
}

h3 {
    font-size: var(--font-size-md);
    font-weight: 600;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0;
}

a {
    text-decoration: none;
    transition: all 4px;
    color: var(--black-02);
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a:hover {
    color: var(--black-01);
}

.btn-sm {
    height: 40px;
    line-height: 40px;
    padding: var(--line-4) var(--line-16);
}

.btn {
    background-color: var(--blue);
    color: var(--white-02);
    border-radius: var(--line-4);
    font-size: var(--line-16);
    font-weight: 500;
    user-select: none;
    border-radius: 999px;
    vertical-align: middle;
}

.btn:hover {
    color: var(--white-01);
    cursor: pointer;
}

.site-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    min-width: 270px;
}

/* Header */
.header {
    margin-top: 40px;
    margin-bottom: 40px;
}

.nav__container {
    background-color: var(--white-01);
    border-radius: var(--line-20);
    box-shadow: var(--shadow);
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 20px 32px;
    align-items: center;
}

.nav__logo {
    color: var(--black-02);
    cursor: pointer;
    margin: 0;
    white-space: nowrap;
    font-weight: 500;
}

.__ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    align-items: center;
}


/* Main - Featured Posts */
.slider {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}

.slide-caption {
    font-size: 1.2rem;
    font-weight: 600;
}

.slides {
    padding-bottom: 5px;
    width: 100%;
}

.slide-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
    background-color: rgba(132, 132, 133, 0.15);
    border: 1px solid rgba(132, 132, 133, 0.15);
    border-radius: var(--line-16);
}

.post-img-container {
    background-color: var(--bg-gray);
    border-radius: var(--line-16);
    box-shadow: var(--shadow);
    padding: 16px;
    max-width: 600px;
    height: 280px;
}

.post-img-wrap {
    max-width: 100%;
    overflow: hidden;
}

.post-img-wrap img {
    width: 100%;
    height: 100%;
    display: block;
}

.post-excerpt, .all-posts-excerpt {
    margin-bottom: 1.25rem;
    line-height: 1.8;
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.tag-item {
    background-color: var(--gray-02);
    padding: 4px 12px;
    border-radius: 999px;
}

.tns-controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.btn-slide {
    padding: 8px 15px;
    background-color: var(--blue);
    color: var(--white-02);
    border-radius: 999px;
    border: none;
    cursor: pointer;
}

.btn-slide:hover {
    color: var(--white-01);
}

.btn-controls {
    background-color: var(--bg-gray);
    border: 1px solid rgba(132, 132, 133, 0.15);
    border-radius: var(--line-16);
    padding: 10px 20px;
    cursor: pointer;
}


/* Main - All Posts */
.all-posts {
    padding: 0;
    margin: 50px 0 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.all-posts-container {
    flex: 65%;
}

.sidebar-content {
    flex: auto;
    background-color: var(--white-01);
    box-shadow: var(--shadow);
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;
}

.search {
    margin-bottom: 50px;
}

.all-posts-card {
    display: flex;
    flex-direction: column;
    background-color: var(--white-01);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
}

.all-posts-tag {
    font-size: 14px;
}

.all-posts-title h3 {
    margin: 2px 0;
}

.all-posts-excerpt p {
    margin: 0;
}

.all-posts-meta {
    font-size: 12px;
    font-weight: 600;
    margin-top: 4px;
}

.load-more {
    text-align: center;
    max-width: 100%;
    margin-top: 50px;
}

.load-more .btn {
    padding: 14px 28px;
    border: none;
}


/* Single Post */
.single-post {
    padding: 20px 0 100px;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
}

.single-post-content {
    max-width: 70%;
}

.related-post {
    max-width: 25%;
}

.related-post h4 {
    margin-bottom: 5px;
}

.related-post ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.related-post li {
    padding: 10px 0;
}

.related-post li a:hover {
    color: var(--discord);
}

.single-post-content > h2 {
    font-weight: 600;
    margin: 0 0 20px;
    font-size: 2.5rem;
}

.single-post-content > img {
    width: 100%;
    height: auto;
}

.post-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.tag-single {
    background-color: var(--gray-02);
    padding: 4px 12px;
    border-radius: 999px;
    width: fit-content;
}


/* Search */
.search-container > h2 {
    font-weight: 500;
    color: var(--blue);
}

.search-result {
    margin-bottom: 200px;
}


/* Footer */
.footer {
    min-height: 450px;
    margin: 0 -20px;
    padding: 70px 40px 0;
    background-color: var(--white-01);
    box-shadow: 0 5px 10px 2px rgba(232, 232, 232, 0.15);
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    min-height: 350px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(32, 32, 32, 0.15);
}

.footer-content > * {
    flex: 1;
}

.media {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.form-group {
    position: relative;
    width: 100%;
}

.input-subscribe {
    border: 1px solid var(--gray-02);
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    padding-left: 10px;
    height: 46px;
    width: 65%;
    font-size: var(--font-size-base);
}

.btn-subscribe {
    position: absolute;
    right: 0;
    height: 50px;
    width: 33.5%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid var(--blue);
}

.socials {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.facebook svg {
    fill: var(--facebook);
}

.twitter svg {
    fill: var(--twitter);
}

.linkedin svg {
    fill: var(--linkedin);
}

.instagram svg {
    fill: var(--instagram);
}

.github svg {
    fill: var(--github);
}

.circle {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: var(--gray-02);
}

.latest-posts-lists {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
}

.latest-posts-lists h3 {
    font-size: var(--font-size-base);
    font-weight: 600;
    margin: 0;
}

.site-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.copyright > p {
    margin: 0;
}

.btp {
    cursor: pointer;
    background-color: var(--black-01);
    color: var(--white-01);
    border-radius: var(--line-8);
    padding: 4px 16px;
}



/* Alert message */
.custom-alert {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px 15px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.custom-alert.ca-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.custom-alert.ca-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.custom-alert p {
    margin: 0;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    font-weight: bold;
}

.close-success {
    color: #155724;
}

.close-danger {
    color: #721c24;
}




/* Media query */
@media screen and (max-width: 767px) {
    .slide-content {
        grid-template-columns: 1fr;
    }

    .post-img-container {
        height: auto;
    }
}

@media screen and (max-width: 991px) {
    .footer-content > * {
        flex: auto;
        width: 100%;
    }

    .form-group {
        position: unset;
    }

    .input-subscribe {
        width: 100%;
        border-radius: 999px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .btn-subscribe {
        width: 100%;
        position: unset;
        border-radius: 999px;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 768px) {
    .slide-content {
        grid-template-areas: "info img";
    }

    .post-img-container {
        grid-area: img;
        margin-bottom: 80px;
    }

    .post-img-wrap img {
        max-width: 100%;
    }

    .post-info-wrap {
        grid-area: info;
    }
}

@media screen and (min-width: 960px) {
    .post-img-container {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .post-img-container {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 805px) {
    .all-posts {
        flex-direction: column-reverse;
    }

    .single-post {
        flex-direction: column;
    }                                                                                                                  

    .single-post-content, .related-post {
        max-width: 100%;
    }

    .related-post {
        margin-top: 50px;
    }
}